[submodule "src/blueboat_gcs"]
	path = src/blueboat_gcs
	url = https://github.com/Mariolopez31/blueboat_gcs.git
cd
[submodule "src/FASTLIO_cirtesu"]
	path = src/FASTLIO_cirtesu
	url = https://github.com/Mariolopez31/FASTLIO_cirtesu.git
	branch = ROS2
[submodule "src/blueboat_cirtesu_description"]
	path = src/blueboat_cirtesu_description
	url = https://github.com/Mariolopez31/blueboat_cirtesu_description.git
[submodule "third_party/ros2_aruco_cirtesu"]
	path = third_party/ros2_aruco_cirtesu
	url = https://github.com/Mariolopez31/ros2_aruco_cirtesu.git
[submodule "src/tandem_girona"]
	path = src/tandem_girona
	url = https://github.com/Mariolopez31/tandem_girona.git
